<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <meta name="cryptomus" content="400488ab" />
    <link rel="stylesheet" href="https://uinvery.netlify.app/style.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <meta name="description" content="Unlock Your Online Potential | Build Your Dream Website Today! 🚀 | Professional Website Building Company | Expert Designers & Developers | Custom, Responsive, and SEO-friendly Websites | E-commerce, Portfolio, Blogging | Affordable Web Solutions | Empowering Businesses since [Year] | Let's Create an Impressive Online Presence Together!">
</head>
<!--TapaHouse#123-->
<!--finmkt-->
<body>
    <div id="navlinkovalay"></div>
    <header id="navbar"  >
        <div class="container" data-aos="fade-right">
            <div class="logo" onclick="window.location.href = '/'">
                <img src="https://uinvery.netlify.app/media/logo.png" alt="mylogo">
            </div>

            <div class="links" id="middlelinks">
                <a href="" class="activated">Home</a>
                <a href="">About</a>
                <a href="">Pricing</a>
                <a href="">Blog</a>

                <div class="hideme">
                    <a href="" class="blackboton"> Contact Now</a>

                </div>

            </div>

            <div class="login getstarteds" style="width: fit-content;" onclick="window.location.href = 'login.html'">
                Contact Now
            </div>

            <div class="navtoggle" onclick="navtoggler()">

                <span class="material-symbols-outlined">
                    menu
                </span>
            </div>
        </div>

    </header>
    <div class="maincontent">
        <div class="herosection" id="hero">
            <div class="container">
                <div class="twosides">
                    <div class="sidea" data-aos="fade-right">

                        <div class="tbr">
                            <br>
                    <br>        <br>

                        </div>
                        <div class="topsection" data-aos="fade-up">
                            <h1>
                                Launch a software businesses website today with us!
                            </h1>
                        </div>
                        <div class="bottomsection" data-aos="fade-down">
                            Launch a business today with our help and get it done with amazing launch features, websites and more with uifry. We help business like yours thrive every day and beyond.
                        </div>

                        <div class="getdemo" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom">
                            <div class="getstarted login" style="width: fit-content;"
                            onclick="window.location.href = '/'"
                            >
                            Contact Now
                            </div>

                            <div class="getstarted login arrow" style="width: fit-content;"
                            onclick="window.location.href = '/'"
                            >
                            <span class="material-symbols-outlined">
                                chevron_right
                                </span>
                            </div>

                            <div class="demo">
                                Book a Demo Today
                            </div>
                        </div>

                        <div class="getdemo">
                            <div class="getstarted login " style="width: fit-content;"
                            onclick="window.location.href = '/'"
                            >
                            <span class="material-symbols-outlined">
                                star
                                </span>
                            </div>

                            <div class="rated">
                                Rated 4.9 out of 1200 reviews
                            </div>
                        </div>

                    </div>
                    <div class="sideb" data-aos="fade-down">

                        <div class="paymentgateway">
                            <img src="https://uinvery.netlify.app/media/chart.png" alt="" class="imgs imgs1"><img
                                src="https://uinvery.netlify.app/media/arrow.png" alt="" class="imgs imgs2">

                            </div>

                            <img src="https://uinvery.netlify.app/media/ladyonlaptop.png" alt="ladyonlaptop" data-aos="fade-up"
                            data-aos-anchor-placement="top-center">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="trustedpartners">
                <div class="trustedtext" data-aos="fade-left">
                    Trusted by over 100+ businesses worldwide!
                </div>
                <div class="trustedlogo" data-aos="fade-up">
                    <marquee behavior="scroll" direction="left" scrollamount="3">
                        <div class="accordiondiv" id="accordiondiv">

                        </div>
                    </marquee>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="contentarea">
                <div class="contentsides" >
                    <div class="contentsidea" data-aos="fade-up">
                        <div class="contentimagebox">
                            <div class="paymentgateway contents">
                                <img src="https://uinvery.netlify.app/media/arrow.png" alt="" class="imgs imgs1">
                                <img src="https://uinvery.netlify.app/media/chart.png" alt="" class="imgs imgs2">
                                <img src="https://uinvery.netlify.app/media/spiral.png" alt="" class="imgs imgs3">
                                </div>
                            <img src="https://uinvery.netlify.app/media/contentimg.png" alt="">
                        </div>

                    </div>
                    <div class="contentsideb" data-aos="fade-right">
                        <div class="contenttitle">Let your business thrive under our supervision</div>
                        <div class="contentbody">
                            Launch a business today with our help and get it done with amazing launch features, websites and more with uifry. We help business like yours thrive every day and beyond.


<div class="contentblocks">
    <div class="cbflex" data-aos="fade-up">
        <div class="cbicon">
            <div class="getstarted login " style="width: fit-content;"
            onclick="window.location.href = '/'"
            >
            <span class="material-symbols-outlined">
                priority
                </span>
            </div>
        </div>

        <div class="cbtext">Super useful and easy to use interface</div>
    </div>

    <div class="cbflex" data-aos="fade-down">
        <div class="cbicon">
            <div class="getstarted login " style="width: fit-content;"
            onclick="window.location.href = '/'"
            >
            <span class="material-symbols-outlined">
                priority
                </span>
            </div>
        </div>

        <div class="cbtext">Easiest way to grow your business in days</div>
    </div>

    <div class="cbflex">
        <div class="getstarted login" style="width: fit-content;"
        onclick="window.location.href = '/'"
        >
        Contact Now <span class="material-symbols-outlined">
            navigate_next
            </span>
        </div>
    </div>
</div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container" data-aos="fade-down">
            <div class="quickservices">
                <div class="quickbox" data-aos="zoom-in-right">
                    <div class="quickcion">
                        <div class="qico q1">
                            <span class="material-symbols-outlined">
                                priority
                                </span>
                        </div>
                    </div>
                    <div class="quicktext">Super useful and easy to with over 100+ customisations!</div>
                </div>
                <div class="quickbox" data-aos="zoom-in-left">
                    <div class="quickcion">
                        <div class="qico q2">
                            <span class="material-symbols-outlined">
                                schedule
                                </span>
                        </div>
                    </div>
                    <div class="quicktext">Super useful and easy to with over 100+ customisations!</div>
                </div>
                <div class="quickbox" data-aos="zoom-out">
                    <div class="quickcion">
                           <div class="qico q3">
                            <span class="material-symbols-outlined">
                                ios_share
                                </span>
                           </div>
                    </div>
                    <div class="quicktext">Super useful and easy to with over 100+ customisations!</div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="contentarea">
                <div class="contentsides reverse">
                    <div class="contentsidea" data-aos="fade-down"
                    data-aos-duration="3000">
                        <div class="contentimagebox">
                            <div class="paymentgateway contents">
                                <img src="https://uinvery.netlify.app/media/icon.png" alt="" class="imgs imgs1">
                                <img src="https://uinvery.netlify.app/media/chart2.png" alt="" class="imgs imgs2">
                                <img src="https://uinvery.netlify.app/media/spiral.png" alt="" class="imgs imgs3">
                                </div>
                            <img src="https://uinvery.netlify.app/media/contentimg2.png" alt="">
                        </div>

                    </div>
                    <div class="contentsideb " data-aos="fade-up"
                    data-aos-duration="3000">
                        <div class="contenttitle">Unlock the potential of your enterprise with our expert guidance.</div>
                        <div class="contentbody">
                            Embark on your entrepreneurial journey today, empowered by our exceptional launch support, cutting-edge websites, and unparalleled UIFry services. Witness your business soar to new heights as we foster its growth.

<br>

<div class="contentblocks">
    <div class="cbflex">
<div class="inputdata">
    <div class="inputdataicon">
        <span class="material-symbols-outlined">
            person
            </span>
    </div>   <input type="text" placeholder="Enter Your Full Name">
</div>
    </div>
    <div class="cbflex">
        <div class="inputdata">
        <div class="inputdataicon">
            <span class="material-symbols-outlined">
                mail
                </span>
        </div>    <input type="text" placeholder="Enter Your Email Address">
        </div>
            </div>


    <div class="cbflex">
        <div class="getstarted login" style="width: 100%;"
        onclick="window.location.href = '/'"
        >
        Contact Now <span class="material-symbols-outlined">
            navigate_next
            </span>
        </div>
    </div>
</div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container" data-aos="fade-right">
            <div class="blogsection">
                <h1>
                    Our latest updates for you here!
                </h1>
                <h4>
                    Whats heppening around the World.
                </h4>
            </div>

            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carousel">

                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">15 ways to grow your saas in 21 days with no money</div>
                        <div class="blogcardcontent">
                            Launching and growing a SaaS (Software as a Service) business doesn't have to be expensive. With the right strategies and dedication, you can make significant progress in just 21 days, all without breaking the bank. Here are 15 actionable ways to propel your SaaS startup to success without spending any money.
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>

                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1541960071727-c531398e7494?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">10 Open-Source Projects For Web Developers In 2023</div>
                        <div class="blogcardcontent">
                            Open source and devs are an open love affair that closed source doesn’t like. For those of you who don’t like declarations like that, ↓ is a set of metrics from Boston Consulting Group that should start warming you
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1612772992614-bc2c2a2c3362?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">                    Mastering these 7 Basics CSS Skills will make you a Frontend Wizard 🧙✨
                        </div>
                        <div class="blogcardcontent">
                            People treat Frontend development like some mythical beast that only a few can tame. But the truth is, it’s not that hard. As the famous saying
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1573497491208-6b1acb260507?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">                 Build your GitHub public profile like a pro in 10 steps
                        </div>
                        <div class="blogcardcontent">
                            Create an amazing READ-ME that stands out — If you call yourself a developer, you have probably heard about GitHub. It is a place where
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>


                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://plus.unsplash.com/premium_photo-1661425203872-f479b56b56db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">Why everyone is moving today to subscribtions</div>
                        <div class="blogcardcontent">
                            Launching and growing a SaaS (Software as a Service) business doesn't have to be expensive. With the right strategies and dedication, you can make significant progress in just 21 days, all without breaking the bank. Here are 15 actionable ways to propel your SaaS startup to success without spending any money.
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1624555130581-1d9cca783bc0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">9 ways to make it quick and never look back again in your life</div>
                        <div class="blogcardcontent">
                            Launching and growing a SaaS (Software as a Service) business doesn't have to be expensive. With the right strategies and dedication, you can make significant progress in just 21 days, all without breaking the bank. Here are 15 actionable ways to propel your SaaS startup to success without spending any money.
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>

                    <div class="card">
                        <div class="blogcardimg">
                            <img src="https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80" alt="">
                        </div>
                        <div class="blogcardtitle">15 ways to grow your saas in 21 days with no money</div>
                        <div class="blogcardcontent">
                            Launching and growing a SaaS (Software as a Service) business doesn't have to be expensive. With the right strategies and dedication, you can make significant progress in just 21 days, all without breaking the bank. Here are 15 actionable ways to propel your SaaS startup to success without spending any money.
                        </div>
                        <div class="blogcardteadmore">
                            Read More <span class="material-symbols-outlined">
                                navigate_next
                                </span>
                        </div>
                    </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
         <br>
        </div>







        <div class="container">
            <div class="contentarea">
                <div class="contentsides ">
                    <div class="contentsidea" data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom">
                        <div class="contentimagebox">
                            <div class="paymentgateway contents">
                                <img src="https://uinvery.netlify.app/media/icon.png" alt="" class="imgs imgs1">
                                <img src="https://uinvery.netlify.app/media/Group 1000004380.png" alt="" class="imgs imgs2">
                                <img src="https://uinvery.netlify.app/media/spiral.png" alt="" class="imgs imgs3">
                                </div>
                            <img src="https://uinvery.netlify.app/media/contentimg3.png" alt="">
                        </div>

                    </div>
                    <div class="contentsideb" data-aos="fade-down"
                    data-aos-anchor-placement="top-bottom">
                        <div class="contenttitle">Unleash your potential with our expert guidance and unlock growth opportunities</div>
                        <div class="contentbody">
                            Start your business today with our assistance and enjoy incredible launch features, websites, and more with UIFry. Thrive daily and beyond with our dedicated support for businesses like yours.


<div class="projectachievenment">
<div class="projectachievementflex">
    <div class="getstarted login arrow" style="width: fit-content;"
    onclick="window.location.href = '/'"
    >
    <span class="material-symbols-outlined">
        chevron_right
        </span>
    </div>

    <div class="achievementtext">
        <div class="achievementnum">
            <div class="count-up-section">
                <div class="count-up" data-target="10000">0</div>
              </div>+ </div>
        <div class="achievementtext">Successfull Projects</div>
    </div>
</div>

<div class="projectachievementflex">
    <div class="getstarted login arrow" style="width: fit-content;"
    onclick="window.location.href = '/'"
    >
    <span class="material-symbols-outlined">
        chevron_right
        </span>
    </div>


    <div class="achievementtext">
        <div class="achievementnum">100+ </div>
        <div class="achievementtext"> Clients Today</div>
    </div>
</div>
</div>


                            <div class="getdemo">
                                <div class="getstarted login" style="width: fit-content;"
                                onclick="window.location.href = '/'"
                                >
                                Contact Now
                                </div>

                                <div class="getstarted login arrow" style="width: fit-content;"
                                onclick="window.location.href = '/'"
                                >
                                <span class="material-symbols-outlined">
                                    chevron_right
                                    </span>
                                </div>

                                <div class="demo">
                                    Book a Demo Today
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


<br>
<br>
        <div class="container">
            <div class="blogsection">
                <div class="frequicon">
                    <img src="https://uinvery.netlify.app/media/Icon.png" alt="">
                </div>
                <h1>
                    Frequently asked questions
                </h1>
                <h4>
                    Whats happening around the World.
                </h4>
            </div>


         <br>

         <div class="faq-main" data-aos="fade-right"
         data-aos-anchor-placement="top-bottom">
            <div class="faq-item">
                <div class="faq-label">What is the best way to create a saas business today?<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Ut aliquid adipisci et placeat labore et tenetur voluptate<i></i></div>
                <div class="faq-cont">
                    <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Et molestias quae est consequatur quos et eligendi iusto<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">What is the best way to create a saas business today?<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">The most used version of Lorem Ipsum<i></i></div>
                <div class="faq-cont">
                    <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                    <p>The Lorem ipum filling text is used by graphic designers, programmers and printers with the aim of occupying the spaces of a website, an advertising product or an editorial production whose final text is not yet ready.
                    This expedient serves to get an idea of the finished product that will soon be printed or disseminated via digital channels.</p>
                    <p>
                    In order to have a result that is more in keeping with the final result, the graphic designers, designers or typographers report the Lorem ipsum text in respect of two fundamental aspects, namely readability and editorial requirements.</p>
                    <p>The choice of font and font size with which Lorem ipsum is reproduced answers to specific needs that go beyond the simple and simple filling of spaces dedicated to accepting real texts and allowing to have hands an advertising/publishing product, both web and paper, true to reality.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Why do you use<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">What is the best way to create a saas business today?<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Ut aliquid adipisci et placeat labore et tenetur voluptate<i></i></div>
                <div class="faq-cont">
                    <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Et molestias quae est consequatur quos et eligendi iusto<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">What is the best way to create a saas business today?<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">The most used version of Lorem Ipsum<i></i></div>
                <div class="faq-cont">
                    <p>Quo natus nisi ea nostrum reiciendis non dolorum rerum est recusandae reiciendis. Qui sunt consectetur eos quisquam voluptate aut esse vitae aut veniam optio ut ducimus tenetur. Hic consequuntur modi eum enim beatae ut officia molestiae. Hic nostrum iusto 33 vero libero sit reiciendis culpa.</p>
                    <p>The Lorem ipum filling text is used by graphic designers, programmers and printers with the aim of occupying the spaces of a website, an advertising product or an editorial production whose final text is not yet ready.
                    This expedient serves to get an idea of the finished product that will soon be printed or disseminated via digital channels.</p>
                    <p>
                    In order to have a result that is more in keeping with the final result, the graphic designers, designers or typographers report the Lorem ipsum text in respect of two fundamental aspects, namely readability and editorial requirements.</p>
                    <p>The choice of font and font size with which Lorem ipsum is reproduced answers to specific needs that go beyond the simple and simple filling of spaces dedicated to accepting real texts and allowing to have hands an advertising/publishing product, both web and paper, true to reality.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-label">Why do you use<i></i></div>
                <div class="faq-cont">
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat. Ut culpa doloremque vel corporis consequatur non voluptas sapiente. Ab quae laudantium in voluptate commodi et nisi delectus et ipsum atque.</p>
                    <p>Lorem ipsum dolor sit amet. Sit dignissimos officia et beatae quia qui veritatis consequatur et eaque eius non sequi accusamus sed quasi voluptatem est dolor laborum. Sit quos explicabo qui aliquid natus ut laborum placeat.</p>
                </div>
            </div>
        </div>
        </div>

        <div class="newsletter quickservices " data-aos="fade-down"
        data-aos-anchor-placement="top-bottom">

            <div class="container">
                <div class="netstext">
                    Launch a software businesses website today with us! Subscribe to our newsletter and be the first to access valuable insights, tailored for your business success. Don't miss out – join our community today
                </div>

                <div class="newsinput">
                    <input type="email" name="" id="" placeholder="Enter Your Email Address"> <button class="login getstarteds" style="display: flex;">Subscribe</button>
                <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
            </div>

        </div>

        <footer>
            <div class="container">
<div class="logosecion">
    <div class="mylogosec">
        <div class="logo" onclick="window.location.href = '/'">
            <img src="https://uinvery.netlify.app/media/logo.png" alt="">
        </div>
    </div>
    <div class="mylogotext">
        Flexible options, competitive rates, exceptional service – Empowering your dreams. Apply now for a seamless borrowing experience and secure a brighter future.
    </div>
</div>
<div class="linkssection">
    <h3>About Us</h3>
    <ul>
        <li onclick="window.location.href = '#hero'">Home</li>
        <li>About Us</li>
        <li>Our Services</li>
        <li>Contact Us</li>
    </ul>
</div>
<div class="contactsection">
    <h3>Contact us</h3>
    <ul>
        <li>
            (903) 822-4082
            16193 County Rd #3167 S
            Mount Enterprise, Texas(TX), 75681
        </li>
        <li>
            +908 89097 890
        </li>
    </ul>
</div>
<div class="socialmedia">


<div class="social">

    <ion-icon name="logo-google" role="img" class="md hydrated"></ion-icon>

</div>

<div class="social">
    <ion-icon name="logo-facebook" role="img" class="md hydrated"></ion-icon>


</div>

<div class="social">

    <ion-icon name="logo-whatsapp" role="img" class="md hydrated"></ion-icon>
</div>

</div>

            </div>
<br>
<br>
<div class="line"></div>
            <div class="container ">
             <p class="ctxt">
                Copyright ® 2021 Lorem All rights Rcerved
             </p>
            </div>
        </footer>


    </div>

    <script>
        // Disable right-click on the entire page
        window.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        // Disable Ctrl+Shift keyboard click
        window.addEventListener('keydown', function (e) {
            if (e.ctrlKey && e.shiftKey) {
                e.preventDefault();
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- <script src="https://uinvery.netlify.app/script.js"></script> -->
    <script>
        const navbar = document.getElementById('navbar');

// Function to handle scroll event
function handleScroll() {
  const scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;

  // Add or remove the "active" class based on scroll position
  if (scrollPosition >= 30) {
    navbar.classList.add('navactive');
  } else {
    navbar.classList.remove('navactive');
  }
}
window.addEventListener('scroll', handleScroll);




function navtoggler() {
    console.log('clicked');
    var middleLinks = document.getElementById("middlelinks");
    var navLinkOverlay = document.getElementById("navlinkovalay");

    middleLinks.classList.toggle('navlinkactive');
    navLinkOverlay.classList.toggle('navlinkactiveovalay');

    // Remove class names if navlinkactiveoverlay is clicked
    navLinkOverlay.addEventListener('click', function() {
      middleLinks.classList.remove('navlinkactive');
      navLinkOverlay.classList.remove('navlinkactiveovalay');
    });

    // Remove class names if screen width is greater than 999px
    window.addEventListener('resize', function() {
      if (window.innerWidth > 999) {
        middleLinks.classList.remove('navlinkactive');
        navLinkOverlay.classList.remove('navlinkactiveovalay');
      }
    });
  }


  gsap.to(".imgs1", {
    y: -20,
    duration: 0.7,
    repeat: -1,
    yoyo: true,
    ease: "power1.out"
  }


  );

  gsap.to(".imgs2", {
    x: -20,
    duration: 0.9,
    repeat: -1,
    yoyo: true,
    ease: "power1.out"
  }


  );


  gsap.to(".imgs3", {
    y: -10,
    duration: 1.1,
    repeat: -1,
    yoyo: true,
    ease: "power1.out"
  }


  );

  const imageUrls2 = [
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/firefox.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/pure-maps.svg',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/signal.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/vlc.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/gmail.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/whatsapp.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/google-voice.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/textnow.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/telegram.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/discord.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/netflix.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/tiktok.webp',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/twitter.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/snapchat.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/instagram.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/polaris-office.png',
    'https://puri.sm/wp-content/themes/wp-purism/images/pick-your-app/icons/evernote.png',


    // Add more image URLs as needed
  ];
  // Function to create and append image elements to the accordion div
  function appendImagesToAccordionDivs() {
    const accordionDivs = document.getElementById('accordiondiv');

    // Loop through the imageUrls array
    for (const imageUrl of imageUrls2) {
      // Create a new image element
      const imgElement = document.createElement('img');
       imgElement.classList.add('logoimg');

      // Set the source attribute to the URL from the array
      imgElement.src = imageUrl;

      // Optionally, you can set other attributes and styles for the image element here
      // Example: imgElement.alt = 'Image description';

      // Append the image element to the accordion div
      accordionDivs.appendChild(imgElement);
    }
  }

  // Call the function to append images to the accordion div
  appendImagesToAccordionDivs();


// Original Array of image URLs
const imageUrls = [
    'https://uinvery.netlify.app/media/new/intercom.png',
    'https://uinvery.netlify.app/media/new/marvel.png',
    'https://uinvery.netlify.app/media/new/shazam.png',
    'https://uinvery.netlify.app/media/new/treehouse.png',
    'https://uinvery.netlify.app/media/new/zapier.png',

    // Add more image URLs as needed
  ];

  // Function to duplicate an array a specified number of times
  function duplicateArray(arr, times) {
    const duplicatedArray = [];
    for (let i = 0; i < times; i++) {
      duplicatedArray.push(...arr);
    }
    return duplicatedArray;
  }

  // Function to create and append image elements to the accordion div
  function appendImagesToAccordionDiv() {
    const accordionDiv = document.getElementById('accordiondiv');

    // Duplicate the imageUrls array 50 times
    const duplicatedImageUrls = duplicateArray(imageUrls, 50);

    // Loop through the duplicatedImageUrls array
    for (const imageUrl of duplicatedImageUrls) {
      // Create a new image element
      const imgElement = document.createElement('img');

      // Set the source attribute to the URL from the array
      imgElement.src = imageUrl;

      // Optionally, you can set other attributes and styles for the image element here
      // Example: imgElement.alt = 'Image description';

      // Append the image element to the accordion div
      accordionDiv.appendChild(imgElement);
    }
  }

  // Call the function to append images to the accordion div
  appendImagesToAccordionDiv();





  const wrapper = document.querySelector(".wrapper");
const carousel = document.querySelector(".carousel");
const firstCardWidth = carousel.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".wrapper i");
const carouselChildrens = [...carousel.children];

let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;

// Get the number of cards that can fit in the carousel at once
let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);

// Insert copies of the last few cards to beginning of carousel for infinite scrolling
carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
    carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
});

// Insert copies of the first few cards to end of carousel for infinite scrolling
carouselChildrens.slice(0, cardPerView).forEach(card => {
    carousel.insertAdjacentHTML("beforeend", card.outerHTML);
});

// Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
carousel.classList.add("no-transition");
carousel.scrollLeft = carousel.offsetWidth;
carousel.classList.remove("no-transition");

// Add event listeners for the arrow buttons to scroll the carousel left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
    });
});

const dragStart = (e) => {
    isDragging = true;
    carousel.classList.add("dragging");
    // Records the initial cursor and scroll position of the carousel
    startX = e.pageX;
    startScrollLeft = carousel.scrollLeft;
}

const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the carousel based on the cursor movement
    carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
}

const dragStop = () => {
    isDragging = false;
    carousel.classList.remove("dragging");
}

const infiniteScroll = () => {
    // If the carousel is at the beginning, scroll to the end
    if(carousel.scrollLeft === 0) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
        carousel.classList.remove("no-transition");
    }
    // If the carousel is at the end, scroll to the beginning
    else if(Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");
    }

    // Clear existing timeout & start autoplay if mouse is not hovering over carousel
    clearTimeout(timeoutId);
    if(!wrapper.matches(":hover")) autoPlay();
}

const autoPlay = () => {
    if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
    // Autoplay the carousel after every 2500 ms
    timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
}
autoPlay();

carousel.addEventListener("mousedown", dragStart);
carousel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carousel.addEventListener("scroll", infiniteScroll);
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);




const countUpDiv = document.querySelector(".count-up");
const countUpSection = document.querySelector(".count-up-section");

let countTarget = Number(countUpDiv.getAttribute("data-target"));
let countStart = 0;
let animationDuration = 10000; // 2 seconds

let startTime = null;

function countAnimation(currentTime) {
  if (!startTime) startTime = currentTime;
  const elapsedTime = currentTime - startTime;
  const progress = Math.min(elapsedTime / animationDuration, 1);
  const currentCount = Math.floor(progress * (countTarget - countStart) + countStart);
  countUpDiv.textContent = currentCount;

  if (progress < 1) {
    requestAnimationFrame(countAnimation);
  }
}

function startCountUpAnimation() {
  requestAnimationFrame(countAnimation);
}

function handleScroll() {
  const rect = countUpSection.getBoundingClientRect();
  if (rect.top < window.innerHeight && rect.bottom >= 0) {
    startCountUpAnimation();
    window.removeEventListener("scroll", handleScroll);
  }
}

window.addEventListener("scroll", handleScroll);




// Get all the accordion labels
let items = document.querySelectorAll(".faq-main .faq-item .faq-label");

items.forEach(function (label) {
  label.addEventListener("click", function (event) {
    // Toggle the class "faq-item-show" on the clicked label
    label.classList.toggle("faq-item-show");

    // Loop through all the labels and remove the "faq-item-show" class from others if they have it
    items.forEach(function (otherLabel) {
      if (otherLabel !== label && otherLabel.classList.contains("faq-item-show")) {
        otherLabel.classList.remove("faq-item-show");
      }
    });

    // Slide down the content when the label is active
    const content = label.nextElementSibling;
    if (label.classList.contains("faq-item-show")) {

    } else {

    }
  });
});



AOS.init({
    duration: 1200,  // Animation duration in milliseconds
    offset: 120,  // Offset (in pixels) from the original trigger point
    easing: 'ease-in-out',  // Easing function for the animation
    delay: 100,  // Delay (in milliseconds) before the animation starts
    once: true,  // Whether the animation should only happen once
    anchorPlacement: 'center',  // Defines vertical anchor placement (top, center, bottom)
  });

    </script>
</body>
</html>